.grid-item {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.grid-container-vid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
}

.grid-container {
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 20px
}

.grid-image {
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width:100%;
}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: auto;
    display:block;
    width: 80%;
    max-width: 700px;
    max-height: 700px;
}

.modal-content-vid {
    margin: auto;
    display:block;
    width: 80%;
    max-width: 700px;
    max-height: 700px;    
}